@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.869 0.022 252.894);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.869 0.022 252.894);
  /* --applied: oklch(62.57% 0.2051 254.88 / 78.82%);
  --under-screening: oklch(32.57% 0.2051 254.88 / 78.82%);
  --shortlisted: oklch(82.57% 0.2051 254.88 / 78.82%);
  --interview-scheduled: oklch(0.94 0.22 105.88 / 0.89);
  --salary-negotiation: oklch(0.94 0.22 175.88 / 0.89);
  --withdrawn: oklch(0.71 0.24 40.93 / 0.86);
  --rejected: oklch(0.66 0.28 27.03);
  --offer-recieved: oklch(0.86 0.35 145.08 / 0.79); */

  --applied: oklch(65% 0.3 250 / 85%);
  --under-screening: oklch(40% 0.3 250 / 85%);
  --shortlisted: oklch(90% 0.4 250 / 90%);
  --interview-scheduled: oklch(0.94 0.3 100 / 0.9);
  --salary-negotiation: oklch(0.94 0.3 150 / 0.9);
  /* --withdrawn: oklch(0.85 0.5 30 / 0.9); */
  --withdrawn: oklch(0.71 0.24 36.16);
  /* --rejected: oklch(0.75 0.6 10 / 0.9); */
  --rejected: oklch(0.69 0.25 24.54);
  /* --offer-recieved: oklch(0.86 0.45 120 / 0.85); */
  --offer-recieved: oklch(0.84 0.3 145.04 / 0.79);

  --applied-gradient: radial-gradient(circle at top right, var(--applied), transparent 50%);
  --under-screening-gradient: radial-gradient(circle at top right, var(--under-screening), transparent 50%);
  --shortlisted-gradient: radial-gradient(circle at top right, var(--shortlisted), transparent 50%);
  --interview-scheduled-gradient: radial-gradient(circle at top right, var(--interview-scheduled), transparent 50%);
  --salary-negotiation-gradient: radial-gradient(circle at top right, var(--salary-negotiation), transparent 50%);
  --withdrawn-gradient: radial-gradient(circle at top right, var(--withdrawn), transparent 50%);
  --rejected-gradient: radial-gradient(circle at top right, var(--rejected), transparent 50%);
  --offer-recieved-gradient: radial-gradient(circle at top right, var(--offer-recieved), transparent 50%);
  --default-gradient: radial-gradient(circle at top right, oklch(23.57% 0.2051 254.88 / 78.82%), transparent 50%);
}

/* @theme {
  --font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
} */



[data-theme="dark"] {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.129 0.042 264.695);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.129 0.042 264.695);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.984 0.003 247.858);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.279 0.041 260.031);
  --input: oklch(0.279 0.041 260.031);
  --ring: oklch(0.446 0.043 257.281);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(0.279 0.041 260.031);
  --sidebar-ring: oklch(0.446 0.043 257.281);
  --applied: oklch(62.57% 0.2051 254.88 / 78.82%);
  --under-screening: oklch(32.57% 0.2051 254.88 / 78.82%);
  --shortlisted: oklch(82.57% 0.2051 254.88 / 78.82%);
  --interview-scheduled: oklch(0.94 0.22 105.88 / 0.89);
  --salary-negotiation: oklch(0.94 0.22 175.88 / 0.89);
  /* --withdrawn: oklch(0.85 0.5 30 / 0.9); */
  --withdrawn: oklch(0.71 0.24 36.16);
  /* --rejected: oklch(0.66 0.28 27.03); */
  --rejected: oklch(0.69 0.25 24.54);
  /* --offer-recieved: oklch(0.86 0.35 145.08 / 0.79); */
  --offer-recieved: oklch(0.84 0.3 145.04 / 0.79);

  /* --applied: oklch(62% 0.205 255 / 78%);
  --under-screening: oklch(45% 0.22 255 / 80%);
  --shortlisted: oklch(85% 0.3 255 / 85%);
  --interview-scheduled: oklch(0.94 0.25 90 / 0.9);
  --salary-negotiation: oklch(0.94 0.28 140 / 0.9);
  --withdrawn: oklch(0.85 0.45 30 / 0.9) ;
  --rejected: oklch(0.75 0.5 10 / 0.9) ;
  --offer-recieved: oklch(0.86 0.4 120 / 0.8); */

  --applied-gradient: radial-gradient(circle at top right, var(--applied), transparent 50%);
  --under-screening-gradient: radial-gradient(circle at top right, var(--under-screening), transparent 50%);
  --shortlisted-gradient: radial-gradient(circle at top right, var(--shortlisted), transparent 50%);
  --interview-scheduled-gradient: radial-gradient(circle at top right, var(--interview-scheduled), transparent 50%);
  --salary-negotiation-gradient: radial-gradient(circle at top right, var(--salary-negotiation), transparent 50%);
  --withdrawn-gradient: radial-gradient(circle at top right, var(--withdrawn), transparent 50%);
  --rejected-gradient: radial-gradient(circle at top right, var(--rejected), transparent 50%);
  --offer-recieved-gradient: radial-gradient(circle at top right, var(--offer-recieved), transparent 50%);
  --default-gradient: radial-gradient(circle at top right, oklch(23.57% 0.2051 254.88 / 78.82%), transparent 50%);
}

[data-theme="cool"] {
  --background: oklch(0.09 0.06 225.428); /* Dark Blue background */
  --foreground: oklch(0.94 0.06 187.02); /* Light foreground (off-white) */
  --card: oklch(0.15 0.07 225.428);
  --card-foreground: oklch(0.94 0.06 187.02);
  --popover: oklch(0.15 0.07 225.428);
  --popover-foreground: oklch(0.94 0.06 187.02);
  --primary: oklch(0.232 0.171 211.084); /* Blue */
  --primary-foreground: oklch(0.95 0.01 186.571);
  --secondary: oklch(0.758 0.128 212.123); /* Soft Blue */
  --secondary-foreground: oklch(0.232 0.171 211.084);
  --muted: oklch(0.758 0.128 212.123);
  --muted-foreground: oklch(0.738 0.062 225.14);
  --accent: oklch(0.505 0.189 212.345); /* Blue accent */
  --accent-foreground: oklch(0.95 0.01 186.571);
  --destructive: oklch(0.566 0.268 28.506); /* Red for destructive elements */
  --destructive-foreground: oklch(0.566 0.268 28.506);
  --border: oklch(0.385 0.086 205.04); /* Light Blue border */
  --input: oklch(0.385 0.086 205.04);
  --ring: oklch(0.23 0.08 210.75); /* Blue Ring */
  --chart-1: oklch(0.28 0.142 217.328); /* Blue Chart */
  --chart-2: oklch(0.52 0.117 190.235); /* Blue Chart */
  --chart-3: oklch(0.397 0.052 236.193); /* Blue Chart */
  --chart-4: oklch(0.562 0.182 205.49); /* Soft Blue Chart */
  --chart-5: oklch(0.611 0.145 219.46); /* Light Blue Chart */
  --sidebar: oklch(0.14 0.07 225.428);
  --sidebar-foreground: oklch(0.94 0.06 187.02);
  --sidebar-primary: oklch(0.232 0.171 211.084);
  --sidebar-primary-foreground: oklch(0.95 0.01 186.571);
  --sidebar-accent: oklch(0.758 0.128 212.123);
  --sidebar-accent-foreground: oklch(0.95 0.01 186.571);
  --sidebar-border: oklch(0.385 0.086 205.04);
  --sidebar-ring: oklch(0.23 0.08 210.75);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-applied: var(--applied);
  --color-under-screening: var(--under-screening);
  --color-shortlisted: var(--shortlisted);
  --color-interview-scheduled: var(--interview-scheduled);
  --color-salary-negotiation: var(--salary-negotiation);
  --color-withdrawn: var(--withdrawn);
  --color-rejected: var(--rejected);
  --color-offer-recieved: var(--offer-recieved);
  --background-image-applied-gradient: var(--applied-gradient);
  --background-image-under-screening: var(--under-screening);
  --background-image-shortlisted-gradient: var(--shortlisted-gradient);
  --background-image-interview-scheduled-gradient: var(--interview-scheduled-gradient);
  --background-image-salary-negotiation: var(--salary-negotiation);
  --background-image-withdrawn-gradient: var(--withdrawn-gradient);
  --background-image-rejected-gradient: var(--rejected-gradient);
  --background-image-offer-recieved-gradient: var(--offer-recieved-gradient);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
